// Styling for the portfolio section
#clients {
  background-image: url("/img/clients-bg.jpg");
  @include body-font;
  .section-heading {
    color: #ffffff;
  }
  .quote-mark {
    top: -16px;
    left: -32px;
    font-size: 4em;
    line-height: normal;
    font-weight: 600;
  }
  .section-description {
    letter-spacing: -0.25px;
    color: #3c3c3c;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
  }

  .tag {
    color: #fff;
    border: 1px solid #fff;
    padding: 2px 4px;
    font-size: 14.88px;
    font-weight: 300;
    margin-right: 1px;
  }

}
@media(min-width:767px) {

}

