#map {
  background-image: url("/img/map-bg.jpg");
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-position: bottom right;
  font-size: 22px;
  font-weight: 300;
  .company-header {
    font-weight: 400;
  }

}