// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
.quote-mark {
  top: -16px;
  left: -32px;
  position: absolute;
  font-size: 4em;
  line-height: normal;
  font-weight: 600;
}
.section-description {
  letter-spacing: -0.25px;
  color: #3c3c3c;
}